* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
    background-image: linear-gradient( 115deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    position: relative;
    margin: 0 10px;
}

.navbar h1 {
    padding-left: 50px;
    color: #fff;
}



.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


.navbar {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}



}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.media-buttons {

    width: 100%;
    display: flex;
    justify-content: center;
}

span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

#my-image {
    max-width: 40%;
    vertical-align: top;
    margin-left: 100px;
    padding-bottom: 50px;
}

.intro-text {
    color: white;
    display: flex;
    width:50%;
    text-align: left;
    display: inline-block;
}

.intro-text h1 {
    text-align: center;
}

.description {
    display: flex;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;
}

.specifications {
    display: flex;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;
}





